<html>
    <header>
        <title>Formulaire de contact</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <script>
            function message() {
                if ((document.getElementById('croquette').checked) || (document.getElementById('pate').checked)) {
                    alert("Envoye !");
                } else {
                    alert("Vous n'avez pas coche");
                }
            }
        </script>
    </header>

    <body>
        <div class="col-md-9">
            <h1>Formulaire de contact</h1>
            <p>Si vous voulez contacter Belle pour donner de la nourriture</p> <br>
        </div>

        <form>
            <div class="row col-md-12">
                <div class="col-md-5">
                    <label for="prenom" class="col-md-2">Prenom </label>
                    <input type="text" name="prenom" > <br>
                </div>
                <div class="col-md-5">
                    <label for="nom" class="col-md-2">Nom </label>
                    <input type="text" name="nom"> <br>
                </div>
            </div> <br>
            <div class="row col-md-12">
                <div class="col-md-5">
                    <label for="telephone" class="col-md-2">N° de telephone</label>
                    <input type="tel" name="telephone"> <br>
                </div>
                <div class="col-md-5">
                    <label for="mail" class="col-md-2">e-mail</label>
                    <input type="email" name="mail">
                </div>
            </div> <br>
            <div class="col-md-12">
                <p>Qu'est ce que vous donnez ?</p>
                <div class="col-md-5">
                <label for="croquette" class="col-md-2">Croquette</label>
                <input type="checkbox" name="croquette" id="croquette">
                </div>
                <div class="col-md-5">
                    <label for="pate" class="col-md-2">Pate</label>
                    <input type="checkbox" name="pate" id="pate">
                </div> <br>
                <input type="submit" value="Envoyer" id="envoyer" onclick="message()" class="btn btn-primary">
            </div>
        </form>
    </body>
</html>